[Desktop Entry]
Type=Application
Name=radiod
Comment=Internet Radio Daemon
Exec=radiod
Icon=radiod
Categories=AudioVideo;Player;
NoDisplay=true
StartupNotify=false
X-systemd-skip-watch=true
